/* animatedBubble.css */
.bubble {
    margin-left: 2px;
    padding: 10px 20px;
    background-color: #1976d2; /* Bubble color */
    color: white;
    border-radius: 20px;
    max-width: 300px;
    position: relative;
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 0.5s ease-out forwards;
    white-space: pre-wrap;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  